@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Varela+Round&display=swap");

:root {
  --orange: #d66e0c;
  /* --primary-index-color: #143e68; */
  --primary-index-color: #004487;
  --secondry-index-color: #009588;
  --primary-bg-color: #004487;
}
.smart-vales {
  min-height: 105vh;
  background-color: var(--primary-bg-color);
}
.smart-wrapper {
  padding: 2rem 1rem;
}

.smart-title {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 69px;
  letter-spacing: 0;
  text-align: center;
  color: var(--secondry-index-color);
  margin-bottom: 2rem;
}

.smart-card {
  border: 1px solid white;
  border-radius: 1rem;
  text-align: center;
  background-color: transparent;
  width: 370px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-shrink: 0;
  transition: all 0.3s ease;
}
.smart-card:hover {
  background-color: var(--secondry-index-color);
  border: none;
}

.smart-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.equal-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}
.smart-card h5 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

.smart-card p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.spacer {
  width: 390px;
  height: 1px;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.row-gap-tight {
  margin-bottom: 1rem;
  flex-wrap: nowrap;
}
@media (max-width: 1200px) {
  .spacer {
    width: 320px;
  }
  .smart-card {
    width: 320px;
  }
}

@media (max-width: 991.98px) {
  .spacer {
    display: none;
  }

  .row-gap-tight {
    flex-wrap: wrap;
    justify-content: center;
  }

  .smart-card {
    width: 320px;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .smart-title {
    color: #01b6a6;
    font-family: "Varela Round";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px; /* 164% */
    margin-bottom: 1rem !important;
  }
}

/* ------------------------------------------------- */
/* Blur section */
/* ------------------------------------------------- */
.blur-wrapper {
  min-height: 105vh;
  font-family: "Segoe UI", sans-serif;
  /* background-image: url("/images/footer_item.png"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background: transparent;
  position: relative;

  width: 100%;
}

.blur-wrapper .blur-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(7.5px);
  z-index: -1;
}

.blur-wrapper .blur-img {
  position: absolute;
  top: 130px;
  left: 130px;
  right: 130px;
  bottom: 130px;
  background: url("/images/blur_un.jpg") no-repeat center center/cover;
  z-index: -2;
}

.blur-wrapper .hero-section {
  min-height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.blur-wrapper .hero-content {
  /* backdrop-filter: blur(5px); */
  /* color: #003366; */
}

.blur-wrapper .hero-content h1 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 91px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-index-color);
}

.blur-wrapper .play-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(135deg, #004080, #3cd3b5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

.blur-wrapper .play-button i {
  color: white;
  font-size: 2rem;
}
@media (max-width: 1200px) {
  .blur-wrapper .blur-img {
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
  }
}

@media (max-width: 900px) {
  .blur-wrapper .blur-img {
    position: absolute;
    top: 70px;
    left: 70px;
    right: 70px;
    bottom: 70px;
  }
}

@media (max-width: 750px) {
  .blur-wrapper {
    min-height: 40vh;
  }
  .blur-wrapper .hero-section {
    min-height: 40vh;
  }
  .blur-wrapper .blur-img {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
  }

  .blur-wrapper .blur-img {
    scale: 0.8;
    background: url("/images/blur_un.jpg") no-repeat center center/cover;
  }
}
@media (max-width: 600px) {
  .small-hide {
    display: none;
  }
  .blur-wrapper .hero-content h1 {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-size: 31px;
    line-height: 31px;
  }

  .blur-wrapper .play-button {
    width: 60px;
    height: 60px;
  }

  .blur-wrapper .blur-img {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: url("/images/blur_un.jpg") no-repeat center center/cover;
    z-index: -2;
  }
}

/* ------------------------------------------------- */
/* contack now section */
/* ------------------------------------------------- */
.contact-now-section {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact-now-section .contact-content p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 53px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--primary-index-color);
}
.contact-now-section .contact-content {
  max-width: 1000px;
  margin: 0px 10px;
}

.contact-now-section .contact-btn {
  background-color: var(--primary-index-color);
  border: 1px solid var(--primary-index-color);
  color: #fff;
  padding: 0.6rem 1.5rem;
  /* border: none; */
  border-radius: 2rem;
  /* font-size: 1rem; */
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 22px;
  /* line-height: 20px; */
  letter-spacing: 0;
  text-align: center;
  /* transition: background-color 0.3s ease; */
}

.contact-now-section .contact-btn:hover {
  background-color: #fff;
  border: 1px solid var(--primary-index-color);
  color: var(--primary-index-color);
}

@media (max-width: 761px) {
  .contact-now-section .contact-content p {
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0;
  }
  .contact-now-section .contact-btn {
  font-weight: 400;
  font-size: 19px;
}
}

/* ------------------------------------------------- */
/* Enterprise section */
/* ------------------------------------------------- */

.features-wrapper {
  min-height: 105vh;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features-wrapper .features-title {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  position: relative;
  top: -50px;
  font-size: 70px;
  line-height: 81px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-index-color);
}

.features-wrapper .cards-container {
  width: 100%;
  padding: 0% 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.features-wrapper .feature-card {
  background-color: var(--secondry-index-color);
  color: #ffffff;
  border-radius: 1rem;
  max-width: 420px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.features-wrapper .feature-card img {
  width: 100%;
  min-height: 130px;
  padding: 0px 3%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.features-wrapper .feature-card h3 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.features-wrapper .feature-card p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.features-wrapper .cta-button {
  background-color: var(--primary-index-color);
  border: 1px solid var(--primary-index-color);
  color: #fff;
  padding: 1.3rem 2rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.features-wrapper .cta-button:hover {
  background-color: #fff;
  border: 1px solid var(--primary-index-color);
  color: var(--primary-index-color);
}
@media (max-width: 1200px) {
  .features-wrapper .features-title {
    font-size: 60px;
    line-height: 68px;
    position: relative;
    top: 10px;
  }
}
@media (max-width: 768px) {
  .features-wrapper .features-title {
    font-size: 35px;
    line-height: 42px;
    position: relative;
    top: 0px;
  }
  .features-wrapper .feature-card {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}

@media (max-width: 480px) {
  .features-wrapper .feature-card {
    /* max-width: 100%; */
  }
}

/* ------------------------------------------------ */
/* AI Means Business section */
/* ------------------------------------------------ */

.stats-section {
  background-color: #004080;
  color: #ffffff;
  text-align: center;
  padding: 3rem 1rem;
  min-height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats-section h2 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 38px;
  letter-spacing: 0;
  text-align: center;
  color: var(--secondry-index-color);
  margin-bottom: 2.3rem;
  position: relative;
  top: 0px;
}

.stats-section p.subheading {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 2.5rem;
}

.stats-section .stats-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.stats-section .stat-box {
  max-width: 270px;
}

.stats-section .stat-box h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 85px;
  line-height: 48px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.stats-section .stat-box p.label {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  color: var(--secondry-index-color); /* light teal */
  margin-bottom: 0.5rem;
}

.stats-section .stat-box p.description {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

@media (max-width: 1200px) {
  .stats-section h2 {
    top: 0px;
    font-size: 60px;
    line-height: 68px;
  }
}
@media (max-width: 768px) {
  .stats-section .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .stats-section h2 {
    top: 0px;
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 1.5rem;
  }

  .stats-section .stat-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .stats-section p.subheading {
    font-size: 18px;
    line-height: 22px; /* 122.222% */
    margin-bottom: 4rem;
  }
  .stats-section .stat-box p.label {
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 165.517% */
  }
  .stats-section .stat-box {
    max-width: 80%;
  }
  .stats-section .stat-box p.description {
    color: #fff;

    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 121.739% */
  }
}

/* ------------------------------------------------ */
/* Insights section */
/* ------------------------------------------------ */

.insights-section {
  background-color: var(--primary-bg-color);
  color: #ffffff;
  padding: 0rem 1rem;
  padding-bottom: 5rem;
  min-height: 105vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insights-section h2 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 68px;
  letter-spacing: 0;
  text-align: center;
  color: var(--secondry-index-color);
  margin-bottom: 1rem;
}

.insights-section p.subheading {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
  max-width: 800px;
  margin-bottom: 3rem;
}

.insights-section .cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 2%;
  /* max-width: 1200px; */
}

.insights-section .card {
  background-color: #ffffff;
  border-radius: 20px;
  color: #003366;
  max-width: 420px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.insights-section .card img {
  min-height: 180px;
  padding: 0px 3%;
  /* object-fit: cover; */
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.insights-section .card-meta {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.insights-section .meta-box {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  color: #004080;
  padding: 0rem 1rem;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 58px;
  letter-spacing: 0;
  text-align: center;
}

.insights-section .meta-box i {
  margin-right: 5px;
  font-style: normal;
}
.insights-section .meta-box img {
  width: 35px;
  position: relative;
  left: -10px;
  max-height: 50px;
  min-height: 0px;
  padding: 0px 0%;
  object-fit: cover;
  border-radius: 0rem;
  margin-bottom: 0rem;
}

.insights-section .card-title {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 0;
  margin-bottom: 1.8rem;
}

.insights-section .view-button {
  background-color: var(--secondry-index-color);
  color: #ffffff;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  border: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0;
  align-self: start;
  transition: all 0.3s ease;
}
.insights-section .view-button a {
  color: #fff;
}
.insights-section .view-button:hover {
  background-color: var(--primary-index-color);
  /* color: var(--primary-index-color); */
  /* border: 1px solid var(--secondry-index-color); */
}

.insights-section .read-more-button {
  margin-top: 5rem;
  background-color: #ffffff;
  color: var(--primary-index-color);
  padding: 1rem 1.8rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0;
}
.insights-section .read-more-button:hover {
  background-color: var(--secondry-index-color);
  color: #fff;
}
@media (max-width: 1200px) {
  .insights-section h2 {
    font-size: 60px;
    line-height: 68px;
  }

  .insights-section p.subheading {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .insights-section h2 {
    font-size: 30px;
    line-height: 34px;
  }
  .insights-section .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .insights-section p.subheading {
    font-size: 15px;
    line-height: 20px;
  }

  .insights-section .card {
    width: 90%;
  }

  .insights-section .card-title {
    font-size: 16px;
    line-height: 20px;
  }
  .insights-section .view-button {
    background-color: var(--secondry-index-color);
    color: #ffffff;
    padding: 0.6rem 1.5rem;

    font-size: 19px;
    line-height: 100%;
  }

  .insights-section .meta-box {
    font-size: 12px;
    line-height: 50px;
  }

  .insights-section .read-more-button {
    margin-top: 3rem;
    background-color: #ffffff;
    color: var(--primary-index-color);
    padding: 1rem 1.8rem;

    font-size: 15px;
    line-height: 100%;
  }
}

@media (max-width: 550px) {
  .insights-section .card-title {
    text-align: center;
  }
  .insights-section .card-meta {
    /* flex-direction: column; */
    width: 100%;
    /* justify-content: center; */
  }
  .insights-section .meta-box {
    width: 100%;
    justify-content: center;
  }
}

/* ------------------------------------------------ */
/* solutions section */
/* ------------------------------------------------ */
.solutions-wrapper {
  background: #f3f4f6;
}
.solutions-section {
  min-height: 105vh;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.solutions-section h2 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;

  color: var(--secondry-index-color);
  margin-bottom: 1rem;
}

.solutions-section h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0%;
  text-align: center;

  color: var(--primary-index-color);
  margin-bottom: 1.5rem;
}

.solutions-section p {
  max-width: 950px;
  font-size: 1.1rem;
  color: var(--primary-index-color);
  margin-bottom: 3rem;
}
.solutions-section .solutions-discription {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0;
  text-align: center;
  max-width: 950px;
  color: var(--primary-index-color);
  margin-bottom: 3rem;
}

.solutions-section .cards-wrapper {
  display: flex;
  gap: 3.3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  max-width: 1400px;
}

.solutions-section .card {
  background: white;
  border-radius: 24px;
  /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); */
  max-width: 580px;
  width: 100%;
  padding: 2.5rem 2.2rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  position: relative;
  transition: all 0.3s ease;
  /* overflow: hidden; */
  border: none;
  border-bottom-right-radius: 72px;
}

.solutions-section .card .icon-box {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 120px;
  height: 120px;
  background-color: #f3f4f6;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 72px;
  border: none;
}

.solutions-section .card .icon-box::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-bottom-right-radius: 30px;
  top: -20px;
  right: 0;
  box-shadow: 5px 5px 5px 0px #f3f4f6;
}

.solutions-section .card .icon-box::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-bottom-right-radius: 30px;
  bottom: 0;
  left: -20px;
  box-shadow: 5px 5px 5px 0px #f3f4f6;
}

.solutions-section .card .card-image {
  /* width: 180px; */
  /* height: 180px; */
  border-radius: 16px;
  object-fit: contain;
  flex-shrink: 0;
}

.solutions-section .card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.solutions-section .card h4 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-size: 33px;
  line-height: 41px;
  letter-spacing: 0;
  text-align: center;
  color: var(--secondry-index-color);
  margin-bottom: 1rem;
}

.solutions-section .card p {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--primary-index-color);
  margin-bottom: 2rem;
  flex-grow: 1;
}

.solutions-section .arrow-button {
  background: transparent;
  border: 2px solid var(--primary-index-color);
  color: var(--primary-index-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: auto;
  align-self: flex-end;
}

.solutions-section .arrow-button:hover {
  background: var(--primary-index-color);
  color: white;
  transform: scale(1.1);
}

.solutions-section .nav-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.solutions-section .nav-buttons button {
  /* width: 40px;*/
  /* height: 40px; */
  /* border-radius: 50%; */
  /* border: 2px solid #1a237e; */
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #1a237e;
  cursor: pointer;
  transition: 0.3s ease;
}
.solutions-section .nav-buttons button img {
  height: 40px;
  width: 40px;
}
.solutions-section .nav-buttons button:hover {
  /* background-color: #1a237e; */
  color: white;
}
.solutions-section .arrow-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.solutions-section .arrow-container:hover {
  transform: rotate(40deg);
}

@media (max-width: 1200px) {
  .solutions-section h2 {
    font-size: 60px;
    line-height: 68px;
  }
}
@media (max-width: 768px) {
  .solutions-section .card p {
    /* margin-bottom: 20px; */
    width: 80%;
  }
  .solutions-section .card .card-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 250px;
  }

  .solutions-section .card {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .solutions-section .card-image {
    width: 100%;
    height: 200px;
  }

  .solutions-section .arrow-button {
    align-self: center;
  }
  .solutions-section .cards-wrapper {
    gap: 1.5rem;
  }

  .solutions-section h2 {
    font-size: 30px;
    line-height: 31px;
  }

  .solutions-section h3 {
    /* font-size: 1.2rem; */
    font-size: 20px;
    line-height: 24px;
  }
  .solutions-section .solutions-discription {
    font-size: 16px;
    line-height: 20px;
  }

  .solutions-section .card h4 {
    font-size: 20px;
    line-height: 24px;
  }
}
